/* ------------- Estilo GENERAL -------------- */

body {
    font-family: 'Exo 2', 'Open-Sans', sans-serif;
    background-color: #333;
}

*,*:before,*:after {
    -webkit-appearance: none;
}

/* ------------- Estilo del MENU PRINCIPAL -------------- */

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 3;
}


.navbar-brand img {
    height: 60px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 20px;
    position: relative;
}

.navbar-dark .navbar-nav .nav-item.nav-link:hover {
    /* color: #c31111; */
    top: 2px;
    color: #fff;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-item.nav-link:hover:after {
    content:'';
    position:absolute;
    width: 100%;
    height: 0;
    left:0;
    top: 58px;
    bottom:0px;
    /*Change this to increase/decrease distance*/
    border-bottom: 6px solid #c31111;
}



/* ------------- Estilo del CAROUSEL -------------- */


/* ------------- PARTE DE WALTER --------------*/
.contenedor-cards {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.card-grupo {
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.list-group-item{
    margin-left: 16%;
    justify-content: center;
    border: none;
}
.imgcards {
    padding-right: 5px;
}
.productos {
    color: #fff;
    margin-top: 100px;
    margin-left: 5%;
}
.pie {
    background-color: #870a30;
    display: flex;
    flex-direction: column;
}
.card-link + p {
    margin-bottom: 0px;
    text-align: center;
    color: white;
}
.card-text {
    width: 90%;
    margin-left: 10%;
}
.card-link {
    text-align: center;
    color: white;
}
.card-link:hover
{
    color: black;
}
.card {
    box-shadow: 0px 0px 10px #000000;
    border:0;
}
.card-title {
    text-align: center;
    color: #870a30;
}
.list-group-item:last-child {
    margin-bottom: 10px;
}

/* ------------- FORMULARIO --------------*/
@import url(https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400);
/* VARS */
.container {
    background-color: #333333;
}

form {
    font-family: 'Exo 2', sans-serif;
    font-size: 62.5%;
}

.container {
  margin: 5rem auto;
  max-width: 65%;
}

form {
  margin: 2rem 0;
}
form:after {
  content: '';
  display: table;
  clear: both;
}
form .field {
  display: block;
  border: 1px solid #ffffff;
  float: left;
  width: 100%;
}
form .field.tnb {
  border-top: 0;
}
form .field.half {
  width: 50%;
}
form .field.last {
  border-left: 0;
}
form .field label {
  display: block;
  font-size: 1rem;
  padding: 1rem 2rem 0;
  text-transform: uppercase;
  color: #ffff;
  font-weight: 300;
  letter-spacing: 1px;
}
form .field input,
form .field textarea {
    font-family: 'Exo 2', sans-serif;
    display: block;
    width: 100%;
    padding: .1rem 2rem 1rem;
    font-size: 0.9rem;
    border: 0;
    color: #ffffff;
    outline: 0;
    background-color: #333333;
}
form .field select {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding: 2.5rem 2rem 2.5rem;
    border: 0;
    color: #870A30;
    outline: 0;
    background-color: #ffffff;
}

form .field textarea {
  min-height: 150px;
  resize: vertical;
  font-family: 'Exo 2', sans-serif;
}
input.button {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 20px;
    background-color: #333333;
    padding: 1rem 2rem 1rem;
    color: white;
    display: block;
    border: 1px solid #ffffff;
    float: left;
    width: 30%;
    margin-right: auto;
    margin-left: 70%;
}
input.button:hover {
    background-color: #870A30;
    cursor: pointer;
}


/* ------------- FOOTER --------------*/



/* ------------- MEDIA QUERYS --------------*/


@media (max-width: 1000px) {

    .navbar-dark .navbar-nav .nav-link {
        position: relative;
        width: 100vw;
        right: 15px;
    }
    .navbar-dark .navbar-nav .nav-item.nav-link .link-text {
       margin-left: 20px;
    }

    .navbar-dark .navbar-nav .nav-item.nav-link:hover {
        /* color: #c31111; */
        top: 0px;
        color: #fff;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .navbar-dark .navbar-nav .nav-item.nav-link:hover:after {
        content: '';
        width: 0;
        height: 0;
    }
}

@media (max-width:425px) {
    .container {
        max-width: 85%;
    }

    form .field.half {
        width: 100%;
    }

    form .field label {
        font-size: 0.9rem;
        padding: 0.5rem 1rem 0;
        font-weight: 600;
    }

    form .field.last {
        border-left: 1px solid white;
    }

    form .field select {
        font-size: 1rem;
        padding: 1.5rem 1rem 1.5rem;

    }

    input.button {
        width: 100%;
        margin-left: 0;
    }

}
@media (max-width:1300px) {
    .contenedor-cards {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .card-grupo {
        display: flex;
        width: 100%;
        padding: 10px 0px;
    }
}

@media (max-width:700px) {
    .contenedor-cards {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .card-grupo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 0px;
    }
    .card {
        margin: 10px 0px 0px 0px;
    }
}